@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "Poppins Regular";
    src: url("./styles/fonts/Poppins-Regular.ttf") format('ttf');
}
@font-face {
    font-family: "Poppins Medium";
    src: url("./styles/fonts/Poppins-Medium.ttf") format('ttf');
}
@font-face {
    font-family: "Poppins Bold";
    font-weight: bold;
    src: url("./styles/fonts/Poppins-Bold.ttf") format('ttf');
}